/.phpunit.cache
/node_modules
# /public/build  <-- COMMENTED OUT: We want to push this now!
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor

# .env
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache

docker-compose.override.yml

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

!/public/assets
!/public/assets/*
/resources/assets/vendor/fonts/flags/**
/resources/assets/vendor/fonts/fontawesome/**
/public/css
/public/js
/public/mix-manifest.json

!/resources/assets/vendor/js/template-customizer.js
